<button id="btnPost" onclick="doPost();">doPost</button>
<button id="btnGet" onclick="doGet();">doGet</button>
<button id="btnDelete" onclick="doDelete();">doDelete</button>
<button id="btnDelete" onclick="doPut();">doPut</button>
